p {
	color: white;
}

.centerMe {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

strong {
		font-size: 24px;
		color: green;
}

h1 {
	padding: 50px;
	margin: 70px;
	border-style: dashed;
	border-width: 5px;
	text-align: center;
}

body{
	background-color: #6666ff;
	margin-left: 5%;
	margin-right: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: scroll;
    background-color: #333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

ul li a:hover{
  background-color: purple;
  color: white;
}

.active {
    background-color: #4CAF50;
}

ul li {
    border-right: 1px solid #bbb;
}

ul li:last-child {
    border-right: none;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}